<div class="container">
    <ol *ngFor="let stockItem of stockItems">
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
        <li>{{stockItem.stockItemId}} : {{stockItem.description}} - SUP00TR-{{ stockItem.supplierId}} -
            {{stockItem.price}}</li>
    </ol>
</div>